* {
  list-style: none;
  text-align: center;
}

.active {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  color: rgb(255, 108, 108);
}

a {
  text-decoration: none;
  display: block;
  width: 100px;
}
